[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "~=3.5.0"
pytest = "~=3.8.1"
pytest-cov = "~=2.5.0"
mypy = "~=0.630"
pytest-env = "~=0.6.2"

[requires]
python_version = "3.6"
